coverage
dist
node_modules
package-lock.json
*.log
.*
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc
!.gitattributes
!.github
!.gitignore
!.husky
!.lintstagedrc.js
!.npmignore
!.npmrc
!.prettierignore
!.prettierrc
!.yarnrc
