coverage
dist
node_modules
*.log
.*
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc
!.gitattributes
!.github
!.gitignore
!.lintstagedrc.js
!.npmignore
!.npmrc
!.prettierignore
!.prettierrc
!.yarnrc
