coverage
dist
node_modules
*.log
.*
!.editorconfig
!.eslintignore
!.eslintrc
!.gitattributes
!.github
!.gitignore
!.husky
!.lintstagedrc.js
!.npmignore
!.npmrc
!.prettierignore
!.prettierrc
!.releaserc
!.yarnrc
pnpm-lock.yaml